In [2]:
import numpy as pd
import pandas as pd
from pyarrow import json
import pyarrow.parquet as pq
import pickle

#### Extraccion de datos y cambio de formato

Reviews

In [1]:
import pandas as pd
import pyarrow as pa
import pyarrow.parquet as pq
import os
import time

# Ruta del archivo JSON de entrada y del archivo Parquet de salida
input_file = "D:/MaysonPenayo/Escritorio/proyecto final/yelp/review.json"
output_file = "D:/MaysonPenayo/Escritorio/proyecto final/review.parquet"
temp_dir = "D:/MaysonPenayo/Escritorio/proyecto final/temp_parquet"

# Crear el directorio temporal si no existe
os.makedirs(temp_dir, exist_ok=True)

# Contador para archivos temporales
temp_file_counter = 0

# Crear una lista para almacenar los DataFrames temporales
dataframes = []

# Función para guardar DataFrames acumulados en un archivo Parquet temporal
def save_to_temp_parquet(dataframes, temp_dir, temp_file_counter):
    if dataframes:
        table_pa = pa.Table.from_pandas(pd.concat(dataframes, ignore_index=True))
        temp_file = os.path.join(temp_dir, f"temp_{temp_file_counter}.parquet")
        pq.write_table(table_pa, temp_file)
        return temp_file_counter + 1
    return temp_file_counter

# Medir el tiempo de ejecución
start_time = time.time()

# Leer el archivo JSON línea por línea y procesar cada línea
with open(input_file, "r", encoding="utf-8") as file:
    for i, line in enumerate(file):
        try:
            # Leer y convertir cada línea JSON a un DataFrame de pandas
            data = pd.read_json(line, lines=True)
            dataframes.append(data)
        except ValueError as e:
            print(f"Error procesando la línea {i}: {e}")
            continue
        
        # Guardar en Parquet en lotes de 10000 líneas
        if (i + 1) % 10000 == 0:
            temp_file_counter = save_to_temp_parquet(dataframes, temp_dir, temp_file_counter)
            dataframes = []

# Guardar cualquier resto de DataFrames que no alcanzó a formar un lote completo
temp_file_counter = save_to_temp_parquet(dataframes, temp_dir, temp_file_counter)

# Combinar todos los archivos Parquet temporales en uno solo
parquet_files = [os.path.join(temp_dir, f) for f in os.listdir(temp_dir) if f.endswith('.parquet')]
tables = [pq.read_table(f) for f in parquet_files]
final_table = pa.concat_tables(tables)
pq.write_table(final_table, output_file)

# Eliminar archivos temporales
for f in parquet_files:
    os.remove(f)

# Medir el tiempo final y calcular el tiempo transcurrido
end_time = time.time()
elapsed_time = end_time - start_time

print(f"Tiempo total de ejecución: {elapsed_time:.2f} segundos")
print("Proceso completo.")

Tiempo total de ejecución: 11040.58 segundos
Proceso completo.

In [3]:
# Especificamos el tamaño del trozo que queremos leer y guardar
chunksize = 1000000  # 1 millón de filas por trozo

# Abre el archivo Parquet
parquet_file = pq.ParquetFile("D:/MaysonPenayo/Escritorio/proyecto final/review.parquet")

# Obtén el número total de grupos de filas en el archivo Parquet
total_row_groups = parquet_file.num_row_groups

# Itera sobre el archivo Parquet y guarda cada trozo como un archivo CSV
for i in range(0, total_row_groups):
    # Lee un trozo del archivo Parquet
    chunk = parquet_file.read_row_group(i, use_pandas_metadata=True).to_pandas()

    # Guarda el trozo como un archivo CSV
    chunk.to_parquet(
        f"D:/MaysonPenayo/Escritorio/proyecto final/chunk_review_{i}.parquet", index=False
    )

    # mensaje de procesos completados por archivo
    print(f"Trozo {i + 1} guardado como chunk_review_{i}.parquet")

print("Proceso completo.")

Trozo 1 guardado como chunk_review_0.parquet
Trozo 2 guardado como chunk_review_1.parquet
Trozo 3 guardado como chunk_review_2.parquet
Trozo 4 guardado como chunk_review_3.parquet
Trozo 5 guardado como chunk_review_4.parquet
Trozo 6 guardado como chunk_review_5.parquet
Trozo 7 guardado como chunk_review_6.parquet
Proceso completo.

##### Business

In [4]:
file_name = "D:/MaysonPenayo/Escritorio/proyecto final/yelp/business.pkl"
df_business = pd.read_pickle(file_name)

df_business = df_business.iloc[
    :, :14
]  # se le quita las ultimas columnas por que son duplicados vacios de las primeras

df_business.to_parquet("D:/MaysonPenayo/Escritorio/proyecto final/yelp/business.parquet")
df_business

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ","1616 Chapala St, Ste 2",Santa Barbara,NaN,93101,34.426679,-119.711197,5.0,7,0,{'ByAppointmentOnly': 'True'},"Doctors, Traditional Chinese Medicine, Naturop...",None
1,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,87 Grasso Plaza Shopping Center,Affton,NaN,63123,38.551126,-90.335695,3.0,15,1,{'BusinessAcceptsCreditCards': 'True'},"Shipping Centers, Local Services, Notaries, Ma...","{'Monday': '0:0-0:0', 'Tuesday': '8:0-18:30', ..."
2,tUFrWirKiKi_TAnsVWINQQ,Target,5255 E Broadway Blvd,Tucson,NaN,85711,32.223236,-110.880452,3.5,22,0,"{'BikeParking': 'True', 'BusinessAcceptsCredit...","Department Stores, Shopping, Fashion, Home & G...","{'Monday': '8:0-22:0', 'Tuesday': '8:0-22:0', ..."
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,CA,19107,39.955505,-75.155564,4.0,80,1,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","Restaurants, Food, Bubble Tea, Coffee & Tea, B...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ..."
4,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,101 Walnut St,Green Lane,MO,18054,40.338183,-75.471659,4.5,13,1,"{'BusinessAcceptsCreditCards': 'True', 'Wheelc...","Brewpubs, Breweries, Food","{'Wednesday': '14:0-22:0', 'Thursday': '16:0-2..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150341,IUQopTMmYQG-qRtBk-8QnA,Binh's Nails,3388 Gateway Blvd,Edmonton,IN,T6J 5H2,53.468419,-113.492054,3.0,13,1,"{'ByAppointmentOnly': 'False', 'RestaurantsPri...","Nail Salons, Beauty & Spas","{'Monday': '10:0-19:30', 'Tuesday': '10:0-19:3..."
150342,c8GjPIOTGVmIemT7j5_SyQ,Wild Birds Unlimited,2813 Bransford Ave,Nashville,DE,37204,36.115118,-86.766925,4.0,5,1,"{'BusinessAcceptsCreditCards': 'True', 'Restau...","Pets, Nurseries & Gardening, Pet Stores, Hobby...","{'Monday': '9:30-17:30', 'Tuesday': '9:30-17:3..."
150343,_QAMST-NrQobXduilWEqSw,Claire's Boutique,"6020 E 82nd St, Ste 46",Indianapolis,AB,46250,39.908707,-86.065088,3.5,8,1,"{'RestaurantsPriceRange2': '1', 'BusinessAccep...","Shopping, Jewelry, Piercing, Toy Stores, Beaut...",None
150344,mtGm22y5c2UHNXDFAjaPNw,Cyclery & Fitness Center,2472 Troy Rd,Edwardsville,AB,62025,38.782351,-89.950558,4.0,24,1,"{'BusinessParking': '{'garage': False, 'street...","Fitness/Exercise Equipment, Eyewear & Optician...","{'Monday': '9:0-20:0', 'Tuesday': '9:0-20:0', ..."
150345,jV_XOycEzSlTx-65W906pg,Sic Ink,238 Apollo Beach Blvd,Apollo beach,TN,33572,27.771002,-82.39491,4.5,9,1,"{'WheelchairAccessible': 'True', 'BusinessAcce...","Beauty & Spas, Permanent Makeup, Piercing, Tattoo","{'Tuesday': '12:0-19:0', 'Wednesday': '12:0-19..."

##### Checkin

In [5]:
df_checkin = pd.read_json("D:/MaysonPenayo/Escritorio\proyecto final/yelp/checkin.json", lines=True)

df_checkin.to_parquet(
    "D:/MaysonPenayo/Escritorio\proyecto final/yelp/checkin.parquet.gz", compression="gzip"
)

df_checkin

,business_id,date
0,---kPU91CF4Lq2-WlRu9Lw,"2020-03-13 21:10:56, 2020-06-02 22:18:06, 2020..."
1,--0iUa4sNDFiZFrAdIWhZQ,"2010-09-13 21:43:09, 2011-05-04 23:08:15, 2011..."
2,--30_8IhuyMHbSOcNWd6DQ,"2013-06-14 23:29:17, 2014-08-13 23:20:22"
3,--7PUidqRWpRSpXebiyxTg,"2011-02-15 17:12:00, 2011-07-28 02:46:10, 2012..."
4,--7jw19RH9JKXgFohspgQw,"2014-04-21 20:42:11, 2014-04-28 21:04:46, 2014..."
...,...,...
131925,zznJox6-nmXlGYNWgTDwQQ,"2013-03-23 16:22:47, 2013-04-07 02:03:12, 2013..."
131926,zznZqH9CiAznbkV6fXyHWA,2021-06-12 01:16:12
131927,zzu6_r3DxBJuXcjnOYVdTw,"2011-05-24 01:35:13, 2012-01-01 23:44:33, 2012..."
131928,zzw66H6hVjXQEt0Js3Mo4A,"2016-12-03 23:33:26, 2018-12-02 19:08:45"
131929,zzyx5x0Z7xXWWvWnZFuxlQ,2015-01-06 17:51:53

#### TIP

In [6]:
df_tip = pd.read_json("D:/MaysonPenayo/Escritorio/proyecto final/yelp/tip.json", lines=True)

df_tip.to_parquet("D:/MaysonPenayo/Escritorio/proyecto final/yelp/tip.parquet")
df_tip

,user_id,business_id,text,date,compliment_count
0,AGNUgVwnZUey3gcPCJ76iw,3uLgwr0qeCNMjKenHJwPGQ,Avengers time with the ladies.,2012-05-18 02:17:21,0
1,NBN4MgHP9D3cw--SnauTkA,QoezRbYQncpRqyrLH6Iqjg,They have lots of good deserts and tasty cuban...,2013-02-05 18:35:10,0
2,-copOvldyKh1qr-vzkDEvw,MYoRNLb5chwjQe3c_k37Gg,It's open even when you think it isn't,2013-08-18 00:56:08,0
3,FjMQVZjSqY8syIO-53KFKw,hV-bABTK-glh5wj31ps_Jw,Very decent fried chicken,2017-06-27 23:05:38,0
4,ld0AperBXk1h6UbqmM80zw,_uN0OudeJ3Zl_tf6nxg5ww,Appetizers.. platter special for lunch,2012-10-06 19:43:09,0
...,...,...,...,...,...
908910,eYodOTF8pkqKPzHkcxZs-Q,3lHTewuKFt5IImbXJoFeDQ,Disappointed in one of your managers.,2021-09-11 19:18:57,0
908911,1uxtQAuJ2T5Xwa_wp7kUnA,OaGf0Dp56ARhQwIDT90w_g,Great food and service.,2021-10-30 11:54:36,0
908912,v48Spe6WEpqehsF2xQADpg,hYnMeAO77RGyTtIzUSKYzQ,Love their Cubans!!,2021-11-05 13:18:56,0
908913,ckqKGM2hl7I9Chp5IpAhkw,s2eyoTuJrcP7I_XyjdhUHQ,Great pizza great price,2021-11-20 16:11:44,0
908914,4tF1CWdMxvvwpUIgGsDygA,_cb1Vg1NIWry8UA0jyuXnQ,Food is good value but a bit hot!,2021-12-07 22:30:00,0

In [7]:
df_user = pd.read_parquet("D:/MaysonPenayo/Escritorio/proyecto final/yelp/user-001.parquet")

df_user.to_parquet("D:/MaysonPenayo/Escritorio/proyecto final/yelp/user.parquet")
df_user

,user_id,name,review_count,yelping_since,useful,funny,cool,elite,friends,fans,...,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos
0,qVc8ODYU5SZjKXVBgXdI7w,Walker,585,2007-01-25 16:47:26,7217,1259,5994,2007,"NSCy54eWehBJyZdG2iE84w, pe42u7DcCH2QmI81NX-8qA...",267,...,65,55,56,18,232,844,467,467,239,180
1,j14WgRoU_-2ZE1aw1dXrJg,Daniel,4333,2009-01-25 04:35:42,43091,13066,27281,"2009,2010,2011,2012,2013,2014,2015,2016,2017,2...","ueRPE0CX75ePGMqOFVj6IQ, 52oH4DrRvzzl8wh5UXyU0A...",3138,...,264,184,157,251,1847,7054,3131,3131,1521,1946
2,2WnXYQFK0hXEoTxPtV2zvg,Steph,665,2008-07-25 10:41:00,2086,1010,1003,"2009,2010,2011,2012,2013","LuO3Bn4f3rlhyHIaNfTlnA, j9B4XdHUhDfTKVecyWQgyA...",52,...,13,10,17,3,66,96,119,119,35,18
3,SZDeASXq7o05mMNLshsdIA,Gwen,224,2005-11-29 04:38:33,512,330,299,"2009,2010,2011","enx1vVPnfdNUdPho6PH_wg, 4wOcvMLtU6a9Lslggq74Vg...",28,...,4,1,6,2,12,16,26,26,10,9
4,hA5lMy-EnncsH4JoR-hFGQ,Karen,79,2007-01-05 19:40:59,29,15,7,,"PBK4q9KEEBHhFvSXCUirIw, 3FWPpM7KU1gXeOM_ZbYMbA...",1,...,1,0,0,0,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2105592,4QGxxakRZeOlg_qDuxmTeQ,Jennilee,38,2012-01-19 23:33:02,74,9,6,,kmwNG5LZSHFmveg6wYYdrw,0,...,1,0,0,0,1,4,0,0,1,0
2105593,tmelBbVBGAzXBVfH2u_R6g,Gerry,19,2009-06-09 16:34:54,14,5,2,,"BFYdCAMFyjYHDwesndEXEg, _9fTIqfSJc7g3V_o76XRVg...",1,...,1,0,0,0,0,1,0,0,0,0
2105594,tpBznnD6uJN3m_pJubj09w,Emily,26,2013-08-13 23:18:11,4,1,2,,"bKV3ly2MuK-K1cptMrFknQ, liel18zRoSB4tEkUP7i6Cg...",0,...,0,0,0,0,1,0,0,0,0,0
2105595,Kst_srPw7GdYydMFYdCtzw,Heatheranne,25,2015-01-10 00:06:25,21,2,5,,"dzHTk52vbGtbktRm_B-wEg, fOfFLV7IbBDN6lzARaLqdg...",0,...,0,0,0,0,0,1,0,0,0,0
2105596,mZl-mH3ZIWLRSd_FfvrXFg,Jessica,30,2015-11-30 21:10:17,27,1,17,,"pou3BbKsIozfH50rxmnMew, JT3rDC7-hprCSObnihMeHw...",3,...,0,1,0,0,0,1,0,0,1,0